/dts-v1/;

#include "rk3126.dtsi"
#include "lcd-86v-rgb800x480.dtsi"
#include "rk3126-cif-sensor.dtsi"
#include "rk312x-sdk.dtsi"

/ {
	 compatible = "rockchip,rk3126";
        backlight: backlight {
                compatible = "pwm-backlight";
                pwms = <&pwm0 0 25000>;
				brightness-levels = <30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255>;
			  default-brightness-level = <128>;
               // enable-gpios = <&gpio3 GPIO_C1 GPIO_ACTIVE_HIGH>;
        };

	/*gpio_poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio1 GPIO_A2 GPIO_ACTIVE_LOW>;
	};*/

	usb_control {
		compatible = "rockchip,rk3126-usb-control";
		//host_drv_gpio = <&gpio2 GPIO_B4 GPIO_ACTIVE_LOW>;
		//otg_drv_gpio = <&gpio2 GPIO_B6 GPIO_ACTIVE_LOW>; 

		rockchip,remote_wakeup;
		rockchip,usb_irq_wakeup;
		};
		
        wireless-wlan {
        compatible = "wlan-platdata";

        wifi_chip_type = "rtl8723bs_vq0";
        sdio_vref = <1800>; //1800mv or 3300mv

        //power_ctrl_by_pmu;
       // pmu_regulator = "act_ldo3";
       // pmu_enable_level = <1>; //1->HIGH, 0->LOW

        //WIFI,wifi33_gpio = <&gpio0 GPIO_A1 GPIO_ACTIVE_LOW>;  // NUM:1 //wifi33
        //WIFI,poweren_gpio = <&gpio1 GPIO_B3 GPIO_ACTIVE_LOW>; // chip_en
        //WIFI,host_wake_irq = <&gpio0 GPIO_A0 IRQ_TYPE_LEVEL_LOW>;
        //WIFI,reset_gpio = <&gpio0 GPIO_A2 GPIO_ACTIVE_LOW>;

        status = "okay";
    }; 



/*	wireless-bluetooth {
		compatible = "bluetooth-platdata";

		uart_rts_gpios = <&gpio1 GPIO_B3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart1_rts>;
		pinctrl-1 = <&uart1_rts_gpio>;

		//BT,power_gpio = <&gpio3 GPIO_D2 GPIO_ACTIVE_HIGH>;
		//BT,reset_gpio = <&gpio3 GPIO_D1 GPIO_ACTIVE_HIGH>;
		//BT,wake_gpio = <&gpio0 GPIO_B0 GPIO_ACTIVE_HIGH>;
		//BT,wake_host_irq = <&gpio3 GPIO_C6 GPIO_ACTIVE_LOW>;

		status = "okay";
	};*/




    
    	rockchip_suspend {
                rockchip,ctrbits = <
                        (0
                        |RKPM_CTR_PWR_DMNS
                        |RKPM_CTR_GTCLKS
                        |RKPM_CTR_PLLS
                        |RKPM_CTR_ARMOFF_LPMD
                        |RKPM_CTR_IDLESRAM_MD
                        |RKPM_CTR_DDR
                        |RKPM_CTR_VOLTS
						|RKPM_CTR_BUS_IDLE
                        
                        )
                >;
               rockchip,pmic-suspend_gpios = <
                       GPIO3_C1 >;
        };
	
    chosen {
	bootargs = "vmalloc=496M cma=4M rockchip_jtag";
       };

};


&vd_arm {
	regulator_name = "vdd_arm";
	status="okay";
	pd_ddr {
		 clk_ddr {
			operating-points = <
				/* KHz    uV */
				100000 1250000
				200000 1250000
				300000 1250000
				400000 1250000
				//533000 1250000
				>;

			freq-table = <
				/*status		freq(KHz)*/
				SYS_STATUS_NORMAL	400000
				SYS_STATUS_SUSPEND	100000
				//SYS_STATUS_VIDEO_1080P  240000
				//SYS_STATUS_VIDEO_4K     360000
				SYS_STATUS_PERFORMANCE  400000 //528000
				//SYS_STATUS_DUALVIEW	400000
				SYS_STATUS_BOOST	400000
				//SYS_STATUS_ISP		533000
				>;
			auto-freq-table = <
				240000
				324000
				396000
				396000 //528000
				>;
			auto-freq=<0>;
			status="okay";
			};
		};
		
	pd_gpu {
		 clk_gpu {
			operating-points = <
				/* KHz    uV */
				200000 1100000
				300000 1100000
				400000  1150000
				//480000  1250000
				>;
				status = "okay";
			};
		};			

	pd_core {
		 clk_core {
			operating-points = <
				/* KHz    uV */
				216000 1150000
				408000 1150000
				600000 1200000
				696000 1250000
				816000 1300000
				1008000 1350000
				1200000 1425000
				>;
			virt-temp-limit-1-cpu-busy = <
			/* target-temp	limit-freq */
				75	1008000
				85	1200000
				95	1200000
				100	1200000
				>;
			virt-temp-limit-2-cpu-busy = <
			/* target-temp	limit-freq */
				75	912000
				85	1008000
				95	1104000
				100	1200000
				>;
			virt-temp-limit-3-cpu-busy = <
			/* target-temp	limit-freq */
				75	816000
				85	912000
				95	100800
				100	110400
				>;
			virt-temp-limit-4-cpu-busy = <
			/* target-temp	limit-freq */
				75	816000
				85	912000
				95	100800
				100	110400
				>;
			temp-limit-enable = <1>;
			target-temp = <85>;
			status = "okay";
		};
	 };
};

&vd_logic {
			regulator_name = "vdd_logic";
			status = "disabled";
};

&fb {
	rockchip,disp-mode = <NO_DUAL>;
	rockchip,uboot-logo-on = <1>;
};

&rk_screen {
	display-timings = <&disp_timings>;
};

&lvds {
	status = "okay";

	pinctrl-names = "lcdc";
	pinctrl-0 = <&lcdc0_lcdc_d>;
};

&lcdc {
	status = "okay";

	backlight = <&backlight>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&lcdc0_lcdc>;
	pinctrl-1 = <&lcdc0_gpio>;

	rockchip,fb-win-map = <FB_DEFAULT_ORDER>;

	power_ctr: power_ctr {
		rockchip,debug = <0>;
		lcd_en: lcd_en {
			rockchip,power_type = <GPIO>;
			gpios = <&gpio0 GPIO_A2 GPIO_ACTIVE_LOW>;             //43
			rockchip,delay = <10>;
		};
	};
};

&hdmi {
        status = "disabled";
};

&adc {
	status = "okay";

	key: key {
		compatible = "rockchip,key";
		io-channels = <&adc 2>;


		back-key {
			linux,code = <158>;
			label = "back";
			rockchip,adc_value = <1>;
		};

		vol-down-key {
			linux,code = <114>;
			label = "volume down";

			rockchip,adc_value = <512>;

		};

		//power-key {
		//	gpios = <&gpio1 GPIO_A4 GPIO_ACTIVE_LOW>;
			//linux,code = <116>;
			//label = "power";
			//gpio-key,wakeup;
		//};

	};
	
        adc-battery {
		status = "disabled";
                compatible = "rk30-adc-battery";
                io-channels = <&adc 0>, <&adc 3>;
                dc_det_gpio = <&gpio2 GPIO_B1 GPIO_ACTIVE_LOW>;
                auto_calibration = <0>;
                ref_voltage = <3300>;
                //bat_low_gpio = <&gpio0 GPIO_A7 GPIO_ACTIVE_LOW>;
                //chg_ok_gpio = <&gpio0 GPIO_B1 GPIO_ACTIVE_HIGH>;
                bat_table = <0 0 0 0 100 100
                 3500 3619 3678 3734 3742 3783 3813 3884 3968 4110 4220
                 3750 3710 3770 3830 3850 3880 3910 3980 4060 4240 4300
                >;
                is_dc_charge = <1>;
                is_usb_charge = <1>;

        };
	
};

&i2c0 {
	status = "okay";
	sensor@4c {
		compatible = "gs_mc3230";
		reg = <0x4c>;
		type = <SENSOR_TYPE_ACCEL>;
		//irq-gpio = <&gpio2 GPIO_B2 IRQ_TYPE_LEVEL_LOW>;
		irq_enable = <0>;
		poll_delay_ms = <20>;
		layout = <1>;
		status = "okay";
	};
	
        axp_mfd: axp_mfd@34 {
                compatible = "axp_mfd";
                reg = <0x34>;
                irq_gpio_number = <&gpio0 GPIO_D3 8>;
                //irq-gpio = <&gpio1 GPIO_A2 8>;
                status = "okay";
        };
	rtc@51 {
        	compatible = "rtc,hym8563";
        	reg = <0x51>;
                status = "okay";
                irq_gpio = <&gpio2 GPIO_B1 IRQ_TYPE_EDGE_FALLING>;
    };  
};



&i2c2 {
	status = "okay";
	
		ts@76 {
		compatible = "zet6221-ts";
		reg = <0x76>;
		pinctrl-names = "default", "gpio";
		pinctrl-0 = <&i2c0_sda &i2c0_scl>;
		pinctrl-1 = <&i2c0_gpio>;
		//gpios = <&gpio0 GPIO_A1 GPIO_ACTIVE_LOW>, <&gpio0 GPIO_A0 GPIO_ACTIVE_LOW>;
		irq_gpio_number = <&gpio2 GPIO_B2 IRQ_TYPE_LEVEL_LOW>;
		//rst_gpio_number = <&gpio1 GPIO_A0 GPIO_ACTIVE_LOW>;
	};
			

};


&sdmmc {
	cd-gpios = <&gpio2 GPIO_A7 GPIO_ACTIVE_HIGH>;/*CD GPIO*/
	//status = "disabled";
	status = "okay";
};


/*&uart1 {
	status = "okay";
	dma-names = "!tx", "!rx";
	pinctrl-0 = <&uart1_xfer &uart1_cts>;
};*/


&codec {
	//spk_ctl_io = <&gpio1 GPIO_B0 GPIO_ACTIVE_HIGH>;
	spk-mute-delay = <200>;
	hp-mute-delay = <100>;
	rk312x_for_mid = <1>;
	is_rk3128 = <0>;
	spk_volume = <25>;
	hp_volume = <25>;
	capture_volume = <26>;
	gpio_debug = <0>;
	codec_hp_det = <0>;
};



&dwc_control_usb {
	usb_uart {
		//status = "okay";
		status = "disabled";
	};
};

&rk3126_cif_sensor{
	status = "okay";
};

&gmac {
        status = "disabled";
};
